@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .socialIcon {
    @apply w-11 border-[1px] border-blue-400 border-solid h-11 rounded-full px-2 py-1 text-pink-500  hover:text-blue-400 cursor-pointer transition duration-200 hover:animate-pulse;
  }
}
body {
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  font-weight: bold;
  color: #ff0000; /* Cambia esto al color que desees para resaltar la opción activa */
}

.text-bold {
  font-weight: bold;
}

.top-nav {
  position: fixed;
  width: 100vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #222a3b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.tooltip {
  visibility: hidden;
  position: absolute;
}
.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 100;
}
input:disabled,
textarea:disabled {
  background-color: #efefef; /* Aplica el color de fondo cuando el input está deshabilitado */
}
.resizable-header {
  display: flex;
  align-items: right;
  justify-content: space-between;
  position: relative;
  padding-right: 20px;
  width: 10px;
  border-right: 4px solid #a6ff00; /* Borde derecho para indicar que se puede redimensionar */
  cursor: col-resize;
}

.react-resizable-handle {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  top: 0;
  width: 10px;
  height: 50% !important;
  cursor: col-resize;
  border: 1px solid #000000 !important;
  background: rgba(
    255,
    225,
    225,
    0.1
  ); /* Sutil indicador del área de redimensión */
}
