.table-container {
  max-height: 180px; /* Ajusta la altura según sea necesario */
  overflow-y: auto;
  position: relative;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white; /* O el color de fondo que prefieras */
}
