.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .dropzone-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: rgb(34, 30, 30);
    border-radius: 2em;
    color: white;
  }
  
  .preview-container {
    margin-top: 20px;
  }
  
  .preview-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  
  .preview-image img {
    width: 100%;
    height: auto;
  }
  .preview-image {
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
  }

  .ql-container.ql-snow {
    position: static!important;
  }